<p>
  <label>Student Name:</label><br>
  <%= text_field_tag :name %>
</p>
<p>
  <label>Student Hometown:</label><br>
  <%= text_field_tag :hometown %>
</p>
<p>
  <%= f.label :birthday %>
  <%= f.date_field :birthday %>
</p>
  <%= f.submit %>
