<p>
  <label>Student Name:</label>
  <%= text_field_tag :name %>
</p>
<p>
  <%= f.label :hometown %>
  <%= text_field_tag :hometown %>
</p>
<p>
  <%= f.label :birthday %>
  <%= f.date_field :birthday %>
</p>
  <%= f.submit %>
